streamlit
streamlit_pdf_viewer
numpy
websockets
librosa
# -- openai -- 
opencv-python
openai
# -- for pdf reading --
python-doctr
python-doctr[torch]
pikepdf
# -- mysql -- 
pymysql
# -- api --
aiohttp
